/* General Styles */
body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #fcabd3;
    color: #020202;
} 

header {
    background-color: #f8dded;
    color: rgb(8, 8, 8);
    padding: 10px 20px;
    text-align: center;
} 

h1, h3 {
    margin: 10px 0;
} 

.Instructions, .Form, .Student-records {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background: rgb(245, 228, 228);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(241, 171, 171, 0.1);
} 

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
} 

form label {
    font-weight: bold;
    margin-bottom: 5px;
} 

form input, form select {
    padding: 10px;
    border: 1px solid #f8f7f7;
    border-radius: 5px;
} 

.radio-group, .checkbox-group {
    display: flex;
    gap: 10px;
} 

form button {
    background-color: #fab7e4;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
} 

form button:hover {
    background-color: #fac7ed;
} 

/* Table Styles */
table {
    width: 100%;
    /*border-collapse: collapse;*/
    margin-top: 20px;
} 

table th, table td {
    border: 1px solid #f7f5f5;
    padding: 10px;
    text-align: left;
} 

table th {
    background-color: #f8c4de;
    color: white;
} 

table tr:nth-child(even) {
    background-color: #f7f0f0;
}